/* ==============================================
 * login page style
 * @Auth: wlei
 * @Date: 2018/11/09
 * ==============================================*/

 $body-bg-img: url("../../assets/img/login/login.png");
 $title-bg-img:url("../../assets/img/login/title_bg.png");
 $lock-active-img:url("../../assets/img/login/lock_active.png");
 $lock-inactive-img:url("../../assets/img/login/lock_inactive.png");
 $user-active-img:url("../../assets/img/login/user_active.png");
 $user-inactive-img:url("../../assets/img/login/user_inactive.png");
 $white:#fff;

.login-main {
  height: 100vh;
  width: 100%;
  min-width: 70em;
  background-color: $white;
}

.system-logo {
  display: inline-block;
  height: 60%;
  margin-right: 0.5rem;
  margin-left: 15%;
}

.system-name {
  display: inline-block;
  margin: 0;
  font-size: 1.5rem;
}

.login-header {
  display: flex;
  height: 6em;
  align-items: center;
}

.login-body {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: $body-bg-img center center no-repeat;
  background-size: 100% 100%;
}

.login-footer {
  position: fixed;
  bottom: 0;
  margin-top:1em;
  width: 100%;
  text-align: center;
  p {
    margin-top:1rem;
  }
}

.login-content {
  position: relative;
  width:30rem;
  height: 60%;
  margin-right: 15%;
}

.login-title {
  position: absolute;
  top: -1em;
  left: 10%;
  width: 80%;
  padding: 1rem 0.5rem;
  margin:0;
  font-size: 1.5rem;
  color: $white;
  text-align: center;
  background: $title-bg-img center center no-repeat;
  background-size: 100% 100%;
}

.user-bg-img--inactive {
  background: $user-inactive-img left center no-repeat!important;
}

.user-bg-img--active {
  background: $user-active-img left center no-repeat!important;
}

.password-bg-img--inactive {
  background: $lock-inactive-img left center no-repeat!important;
}

.user-bg-img--active {
  background: $lock-active-img left center no-repeat!important;
}

.form-container {
  padding: 4rem 1.25rem 1.25rem 1.25rem;
  background: $white;

  .input-text {
    padding: 1rem 0.5rem 1rem 1rem;
    border-radius: 0.4rem;
  }

  .submit-btn {
    width: 100%;
    padding: 0.5rem 0;
    margin: 1rem 0;
    border: 0;
    font-size: 1.5rem;
    color: $white;
    border-radius: 0.2rem;
    background: #00a98d;
    cursor: pointer;
  }

}
