<div class="login-main">
  <!--header-->
  <header class="login-header">
    <!-- <img class="system-logo" src="assets/img/login/logo.png" alt="LOGO"> -->
    <h1 class="system-name">{{systemName}}</h1>
  </header>
  <!--/.header-->
  <!--content-->
  <div class="login-body" [ngStyle]="{'height':loginContentH + 'px'}">
    <div class="login-content">
      <h2 class="login-title">{{welcomeText}}</h2>
      <div class="form-container">
        <form #loginForm="ngForm" (ngSubmit)="loginForm.form.valid && doLogin()" role="form">
          <div class="form-group">
            <input class="form-control input-text input-bg-fix user-bg-img--inactive" #accountName="ngModel" name="accountName"
              [(ngModel)]="account.accountName" type="text" placeholder="用户名" autocomplete="off" required />
            <span *ngIf="loginForm.submitted && !accountName.valid" class="text-danger">用户名不能为空！</span>
          </div>
          <div class="form-group">
            <input class="form-control input-text input-bg-fix password-bg-img--inactive" #password="ngModel" name="password"
              [(ngModel)]="account.password" type="password" placeholder="密码" autocomplete="off" required minlength="6"
              maxlength="20" />
            <span *ngIf="loginForm.submitted && !password.valid" class="text-danger">密码不能为空，且长度必须为6~20位!</span>
          </div>
          <button type="submit" class="submit-btn">登录</button>
        </form>
      </div>
    </div>
  </div>
  <!--/.content-->

  <!--footer-->
  <footer class="login-footer">
    <!-- <p>
      <img src="assets/img/login/version.png" class="system-version" />
      Copyright © Rivamed Corporation, All Rights Reserved &nbsp;&nbsp;V1.0.0
    </p> -->
  </footer>
  <!--/.footer-->
</div>
<!--确认对话框-->
<p-confirmDialog acceptLabel="确定" rejectLabel="取消"></p-confirmDialog>
