$dgHeadBg:#252527;
$dgBodyBorderColor:rgba(0, 0, 0, 0.42);
$dgBodyBoxShadowColor:rgba(7,19,0,0.2);

.ui-dialog-titlebar.ui-widget-header {
  color: $white;
  border-radius: 0;
  background: $dgHeadBg;
}

.ui-dialog.ui-widget.ui-widget-content {
  background:$white;
  border:1px solid $dgBodyBorderColor;
  border-radius:0;
  box-shadow:0px 4px 12px 0px $dgBodyBoxShadowColor;
}

.ui-dialog.ui-widget .ui-dialog-titlebar {
  padding: 0.6em 1.5em;
}

.ui-dialog .ui-dialog-titlebar-close {
  display: inline-block;
  height: 1em;
  width:1em;
  border: none;
  border-radius:0;
  background: url('../assets/img/dialog/close-icon.png') center center no-repeat;
  span {
    display: none;
  }

  &:hover {
    border: none;
    background: url('../assets/img/dialog/close-icon.png') center center no-repeat;
  }
}
