<li *ngIf="menuItem.children" [title]="menuItem.title" class="nav-item nav-dropdown" routerlinkActive="open" appNavDropdown>
  <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle>
    <div class="menu-title"><i *ngIf="menuItem.icon" class="{{menuItem.icon}}"></i><span>{{menuItem.title}}</span></div>
  </a>
  <ul class="nav-dropdown-items">
    <app-menu-item [menuItem]="subItem" *ngFor="let subItem of menuItem.children"></app-menu-item>
  </ul>
</li>
<li *ngIf="!menuItem.children" [title]="menuItem.title" class="nav-item">
  <a class="nav-link" routerLinkActive="active" [routerLink]="menuItem.route.paths.join('/')">
    <div class="menu-title"><i *ngIf="menuItem.icon" class="{{menuItem.icon}}"></i><span>{{menuItem.title}}</span></div>
  </a>
</li>
