<!--top navigation-->
<app-top-nav></app-top-nav>
<div class="app-body">
  <!--left/top sidebar menu-->
  <app-sidebar-menu></app-sidebar-menu>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <app-breadcrumb></app-breadcrumb>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.conainer-fluid -->
  </main>
</div>
<!--公共确认对话框-->
<p-confirmDialog acceptLabel="确定" rejectLabel="取消"></p-confirmDialog>
<!--公共消息框-->
<p-growl (onClose)="growlService.growl.hide()" [value]="growlService.growl.msgs" [sticky]="growlService.growl.sticky"
  [life]="growlService.growl.life" [style]="growlService.growl.style" [styleClass]="growlService.growl.styleClass"></p-growl>
